@media-max-width-991.5px {
  $card-span-font-size: 1.1rem;
  $selectList-width: 100% !important;
}

@media-max-width-525.5px {
  $content-my-5-margin-top: 20px !important;
  $content-my-5-margin-bottom: 20px !important;
  $col-lg-4-padding-left: 0;
  $col-md-6-padding-left: 0;
  $selectList-width: 100% !important;
}
